@model BookDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Edycja książki</h2>
<div>
    <form asp-action="AddDetails" method="post">
        <div class="mb-3">
            <label asp-for="ISBN"></label>
            <input class="form-control" asp-for="ISBN" />
            <span asp-validation-for="ISBN"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NumberOfPages"></label>
            <input class="form-control" asp-for="NumberOfPages" />
            <span asp-validation-for="NumberOfPages"></span>
        </div>
            <div class="mb-3">
            <label asp-for="Rating"></label>
            <input class="form-control" asp-for="Rating" />
            <span asp-validation-for="Rating"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BookId"></label>
            <select asp-for="BookId" class="form-control" asp-items=@Model.Books></select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
        </div>
    </form>
</div>
